* {
  margin: 0;
  padding: 0;
}

nav {
  height: 100px;
  background-color: darkslategrey;
  color: antiquewhite;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  font-size: 2.2rem;
  font-weight: 500;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4rem;
  list-style: none;
}

li:hover {
  opacity: 80%;
  cursor: pointer;
}

button {
  padding: 0.75rem 1.2rem;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 80%;
}

.primary {
  background-color: antiquewhite;
  font-weight: bold;
}

.secondary {
  background-color: darkslategrey;
  color: antiquewhite;
  border: 1px solid antiquewhite;
}

.buttons-wrapper {
  display: flex;
  gap: 0.75rem;
}
